@using Newtonsoft.Json
@model LogRequestAndResponseModel
@{
    ViewBag.Title = "Create Log Request";
}
<h2>Create Log Request</h2>

@using (Html.BeginForm("Index", "LogRequest", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card-body">
        @* TargetId Field *@
        <div class="form-group">
            @Html.LabelFor(model => model.LogRequestModel.TargetId, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(model => model.LogRequestModel.TargetId, new { @class = "form-control", id = "TargetId" })
                @Html.ValidationMessageFor(model => model.LogRequestModel.TargetId, "", new { @class = "text-danger" })
            </div>
        </div>

        @* LogRequestDto Fields *@
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LogRequestModel.LogTypes, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @foreach (var logType in Enum.GetValues(typeof(LogType)))
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="LogRequestModel.LogTypes" value="@logType.ToString()" /> @logType
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.LogRequestModel.LogLevels, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @foreach (var logLevel in Enum.GetValues(typeof(LogLevel)))
                        {
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="LogRequestModel.LogLevels" value="@logLevel.ToString()" /> @logLevel
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.LogRequestModel.IsAckRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="form-check">
                    <label class="form-check-label">
                        @Html.CheckBoxFor(model => model.LogRequestModel.IsAckRequired, new { @class = "form-check-input" }) Acknowledge Required
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogRequestModel.ActionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LogRequestModel.ActionType,
                    new SelectList(Enum.GetValues(typeof(ActionType))),
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LogRequestModel.ActionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogRequestModel.ResponseType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LogRequestModel.ResponseType,
                    new SelectList(Enum.GetValues(typeof(ResponseType))),
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LogRequestModel.ResponseType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogRequestModel.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogRequestModel.FromDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LogRequestModel.FromDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LogRequestModel.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogRequestModel.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LogRequestModel.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary w-100">
                <i class="bi bi-check-circle"></i> Send
            </button>
        </div>
    </div>
}
<div class="card-body">
   @await Component.InvokeAsync("MqttResponse")
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('input[name="selectedClients"]').change(function() {
            if ($(this).is(':checked')) {
                var deviceName = $(this).val(); // Get the device name
                $('#TargetId').val(deviceName); // Update the TargetId input field
            }
        });
    });
</script>

